<?xml version="1.0" encoding="utf-8"?>
<manifest package="a2.cs.hku.hk.msccs"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StudentCourseActivity"/>
        <activity android:name=".StudentHelpActivity"/>
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AdmissionActivity"
            android:label="@string/title_activity_admission"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PlanActivity"
            android:label="@string/title_activity_plan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>